html {
	width: 100%;
	max-width: 1200px;
	height: 100vh;
	margin: 0 auto;
	padding-right: 10px;
}
body {
	width: 100%;
	height: 100%;
}

.menu-title-container,
.top-menu-bar,
.banner-message,
#main-menu,
.pages {
	width: 100%;
}
.top-menu-bar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}
.version-and-redirect-container {
	display: flex;
	align-items: center;
	grid-gap: 8px;
}
#search {
	width: 321px;
}
@media only screen and (max-width: 900px) {
	#search {
		width: 100%;
	}
	.version-and-redirect-container > div > span {
		display: none;
	}
}
#select-version {
	margin-right: 24px;
}
.banner-message {
	margin-top: 2px-;
	padding: 8px;
}

#settings {
	background-color: var(--bg-tint-2);
}
#settings,
#changelog {
	position: relative;
	height: fit-content;
	max-width: unset;
	top: unset;
	left: unset;
	border-radius: var(--border-radius);
}
#changelog .log {
	max-width: unset;
	margin-bottom: 10px;
}
#extensionVersion {
	display: grid;
	grid-template-columns: 22px auto;
	grid-gap: 4px;
	width: fit-content;
	padding: 6px 10px !important;
	color: var(--text-grey);
}

.options-page-menu-container {
	display: flex;
	grid-gap: 16px;
	height: 100%;
	overflow: hidden;
	margin-top: 8px;
}
.pages {
	overflow-y: auto;
}
#main-menu {
	height: fit-content;
	margin: 0;
}
.side-menu {
	overflow: hidden;
}
.side-menu > :first-child {
	overflow-y: auto;
}
.options-page-menu-container .side-menu ul {
	display: flex;
	flex-direction: column;
	grid-gap: 0;
	list-style: none;
	padding: 0;
	margin: 0;
}
.options-page-menu-container .side-menu li > div {
	margin-bottom: 8px;
}
.options-page-menu-container > .side-menu .icon-chevron-down {
	transform: rotate(-90deg);
}
#main-menu .menu-item-link {
	display: none;
}
.side-menu .menu-item-link {
	border-radius: var(--border-radius);
}
.options-page-menu-container .menu-list {
	margin-top: 0;
}
#main-menu > li {
	margin: 0;
}
#main-menu > li > ul {
	margin-top: 0;
	border-radius: var(--border-radius);
}
.sub-header {
	margin-top: 30px;
}

.container-slider {
	grid-template-columns: 50px 200px auto 60px;
}

.footer {
	grid-template-columns: auto auto auto;
	justify-content: space-between;
	width: 100%;
	height: fit-content;
	margin-top: 12px;
}

.footer-links {
	margin-top: 8px;
	grid-gap: 4px;
}

#no-search-results {
	position: relative;
}

@media only screen and (min-width: 1000px) {
	.options-page-menu-container .menu-item-link > div:hover .icon-chevron-down {
		margin-top: 0px !important;
		margin-left: 5px;
	}
}

@media only screen and (max-width: 1000px) {
	.side-menu,
	#settings,
	#changelog {
		display: none;
	}
	#main-menu .menu-item-link {
		display: flex;
	}
	#main-menu .menu-item-link.active {
		border-radius: var(--border-radius) var(--border-radius) 0 0;
	}
	#main-menu .sub-list {
		border-radius: 0 0 var(--border-radius) var(--border-radius);
	}
	#main-menu > li {
		margin: 8px;
	}
}
