/* Popup Styles - Base */

* {
	box-sizing: border-box;
}

html,
body {
	border-radius: var(--border-radius);
	width: 470px;
	font-size: 14px;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	padding-left: 10px;
	height: 600px;
	display: flex;
	flex-direction: column;
	background-color: var(--bg);
	font-family: Verdana, sans-serif;
	color: var(--text);
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: background-color 200ms ease-in-out;
}

a {
	color: inherit;
	text-decoration: none;
}

h2,
h3 {
	margin: 4px;
}

.text-small {
	font-size: 12px !important;
	color: var(--text-grey);
}
