/* Popup Styles - Containers */

.container,
.container-1,
.container-3,
.container-slider,
.container-time {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 46px;
	background: var(--item-bg);
	border-radius: var(--border-radius);
	padding: 5px;
}
.container {
	padding: 5px 0;
}
.sub-list li span {
	font-size: 16px;
}
.container-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.container-2 {
	display: grid;
	grid-template-columns: 50px auto;
	margin-bottom: 5px;
}
.container-3 {
	display: grid;
	grid-template-columns: 50px auto 60px;
	grid-gap: 4px;
}
.container-3 .switch {
	margin-left: -3px;
}
.container-3 input[type='range'] {
	margin: 16px 0 16px 0;
}
.container-3 .dropdown {
	width: 200px;
}
.container-3 .select {
	grid-template-columns: auto 22px;
}
.container-slider {
	display: grid;
	grid-template-columns: 50px 150px auto 60px;
	grid-gap: 4px;
	padding-right: 8px;
	min-height: 40px;
}
.container-time {
	display: grid;
	grid-template-columns: 50px auto 100px;
}
.container-time input {
	position: absolute;
	right: 5px;
}
.container-input {
	display: flex;
	align-items: center;
	grid-gap: 4px;
	width: 100%;
	padding: 0 70px 4px 55px;
}
.input-value {
	text-align: center;
	line-height: 100%;
	color: var(--text);
	margin-left: 15px;
}
.css-input-container {
	display: flex;
	align-items: center;
	justify-content: end;
	flex-direction: row;
	grid-gap: 4px;
	padding-right: 4px;
	margin-top: 14px;
}
.css-input-container input {
	width: 100%;
	max-width: 200px;
}
