/* Popup Styles - Footer */

/* Footer */
.footer {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 6px;
	justify-content: left;
	width: calc(100% - 10px);
	height: 72px;
	margin-bottom: 8px;
	justify-self: end;
}

.footer-links {
	display: flex;
	flex-direction: column;
	margin-top: -4px;
}

.footer a,
.footer-links a,
.link {
	display: flex;
	flex-direction: row;
	grid-gap: 4px;
	text-decoration: underline;
	cursor: pointer;
}

.footer-links a > span,
.footer-links .link > span {
	margin-left: 6px;
}

.footer-links .version {
	display: flex;
	flex-direction: row;
}

#btn-settings-container {
	display: flex;
	flex-direction: column;
	grid-gap: 4px;
	align-items: center;
	width: fit-content;
}

#btn-settings-container .btn {
	text-wrap: nowrap;
	width: 100%;
}

.version {
	position: absolute;
	bottom: 2px;
	right: 4px;
}

/* Donate */
.donate {
	display: flex;
	flex-direction: row;
	justify-self: flex-end;
}

.donate:hover {
	cursor: pointer;
}

.donate:hover .kofi-logo {
	animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
	10%,
	90% {
		transform: rotate(-0.5deg);
	}
	20%,
	80% {
		transform: rotate(1deg);
	}
	30%,
	50%,
	70% {
		transform: rotate(-2deg);
	}
	40%,
	60% {
		transform: rotate(2deg);
	}
}

.kofi-logo {
	height: 20px;
	width: 24px;
	background-image: url(../../icons/kofi-48.png);
	background-size: 24px 24px;
	background-repeat: no-repeat;
	margin-left: -2px;
}
