/* Popup Styles - Header */

/* Title */
.menu-title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 470px;
	height: 40px;
}
.menu-title {
	position: relative;
	width: fit-content;
	text-align: center;
	font-size: 25px;
	font-variant-caps: all-small-caps;
	background-color: var(--bg-tint-2);
	color: var(--text-grey);
	text-shadow: 0px 2px 3px rgba(var(--text-grey-rgb), 0.05);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	/*filter: brightness(3);*/
}

/* Top Menu Bar */
.top-menu-bar {
	margin-top: 8px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 8px;
	align-items: center;
	width: 450px;
	height: 35px;
	font-size: 16px;
}

.top-menu-bar input {
	min-height: 35px;
}

/* Search */
#no-search-results {
	margin-top: 100px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 20px;
	color: var(--text-grey);
}

/* Banner Message */
.banner-message {
	display: flex;
	flex-direction: column;
	grid-gap: 3px;
	width: 450px;
	height: fit-content;
	margin-top: 8px;
	padding: 4px 0 4px 6px;
	border-radius: 4px;
	border: solid 1px rgba(229, 57, 53, 0.5);
	background-color: rgba(229, 57, 53, 0.1);
}
.banner-message.amber {
	border: solid 1px rgba(255, 152, 0, 0.5);
	background-color: rgba(255, 152, 0, 0.1);
}
.message-buttons {
	display: flex;
	justify-content: end;
	grid-gap: 4px;
	padding-right: 4px;
}
.message-buttons .btn {
	padding: 4px 6px;
	background-color: rgba(100, 100, 100, 0.1);
}
.message-buttons .btn:hover {
	background-color: rgba(100, 100, 100, 0.2);
}
