/* ===== Popup / Icons ===== */

/* Icons */
.btn-icon,
.dropdown-icon,
.menu-item-icon,
.menu-item-link .icon-cheveron-down {
	display: flex;
	justify-self: center;
	width: 30px;
	height: 24px;
	background-color: rgba(var(--text-grey-rgb), 0.5);
	mask-size: contain;
	-webkit-mask-size: contain;
	mask-position: contain !important;
	-webkit-mask-position: center !important;
	mask-repeat: no-repeat !important;
	-webkit-mask-repeat: no-repeat !important;
}
.icon {
	mask-size: contain;
	-webkit-mask-size: contain;
	mask-position: contain !important;
	-webkit-mask-position: center !important;
	mask-repeat: no-repeat !important;
	-webkit-mask-repeat: no-repeat !important;
}
.btn-icon {
	width: 26px;
	height: 22px;
}
.no-icon {
	background-color: transparent !important;
}
.icon-background {
	mask: url('../../icons/ui/image-solid.svg');
	-webkit-mask: url('../../icons/ui/image-solid.svg');
}
.icon-light-off {
	mask: url('../../icons/ui/lightbulb-regular.svg');
	-webkit-mask: url('../../icons/ui/lightbulb-regular.svg');
}
.icon-light-on {
	mask: url('../../icons/ui/lightbulb-solid.svg');
	-webkit-mask: url('../../icons/ui/lightbulb-solid.svg');
}
.icon-dark-mode {
	mask: url('../../icons/ui/moon-solid.svg');
	-webkit-mask: url('../../icons/ui/moon-solid.svg');
}
.icon-resize-feed {
	mask: url('../../icons/ui/icon-resize-feed.svg');
	-webkit-mask: url('../../icons/ui/icon-resize-feed.svg');
}
.icon-scale {
	mask: url('../../icons/ui/down-left-and-up-right-to-center-solid.svg');
	-webkit-mask: url('../../icons/ui/down-left-and-up-right-to-center-solid.svg');
}
.icon-scroll {
	mask: url('../../icons/ui/up-down-solid.svg');
	-webkit-mask: url('../../icons/ui/up-down-solid.svg');
}
.icon-blur {
	mask: url('../../icons/ui/droplet-solid.svg');
	-webkit-mask: url('../../icons/ui/droplet-solid.svg');
}
.icon-clock {
	mask: url('../../icons/ui/clock-regular.svg');
	-webkit-mask: url('../../icons/ui/clock-regular.svg');
}
.icon-auto {
	mask: url('../../icons/ui/gears-solid.svg');
	-webkit-mask: url('../../icons/ui/gears-solid.svg');
}
.icon-hide {
	mask: url('../../icons/ui/eye-slash-solid.svg');
	-webkit-mask: url('../../icons/ui/eye-slash-solid.svg');
}
.icon-show {
	mask: url('../../icons/ui/eye-solid.svg');
	-webkit-mask: url('../../icons/ui/eye-solid.svg');
}
.icon-sticky-note {
	mask: url('../../icons/ui/note-sticky-solid.svg');
	-webkit-mask: url('../../icons/ui/note-sticky-solid.svg');
}
.icon-user {
	mask: url('../../icons/ui/user-solid.svg');
	-webkit-mask: url('../../icons/ui/user-solid.svg');
}
.icon-user-slash {
	mask: url('../../icons/ui/user-slash-solid.svg');
	-webkit-mask: url('../../icons/ui/user-slash-solid.svg');
}
.icon-play {
	mask: url('../../icons/ui/play-solid.svg');
	-webkit-mask: url('../../icons/ui/play-solid.svg');
}
.icon-cheveron-up {
	mask: url('../../icons/ui/chevron-up-solid.svg');
	-webkit-mask: url('../../icons/ui/chevron-up-solid.svg');
}
.icon-cheveron-down {
	mask: url('../../icons/ui/chevron-down-solid.svg');
	-webkit-mask: url('../../icons/ui/chevron-down-solid.svg');
}
.icon-paint-roller {
	mask: url('../../icons/ui/paint-roller-solid.svg');
	-webkit-mask: url('../../icons/ui/paint-roller-solid.svg');
}
.icon-gear {
	mask: url('../../icons/ui/gear-solid.svg');
	-webkit-mask: url('../../icons/ui/gear-solid.svg');
}
.icon-arrow-square {
	mask: url('../../icons/ui/arrow-up-right-from-square-solid.svg');
	-webkit-mask: url('../../icons/ui/arrow-up-right-from-square-solid.svg');
}
.icon-turn-up {
	mask: url('../../icons/ui/turn-up-solid.svg');
	-webkit-mask: url('../../icons/ui/turn-up-solid.svg');
}
.icon-spray-can {
	mask: url('../../icons/ui/spray-can-solid.svg');
	-webkit-mask: url('../../icons/ui/spray-can-solid.svg');
}
.icon-comments {
	mask: url('../../icons/ui/comments-solid.svg');
	-webkit-mask: url('../../icons/ui/comments-solid.svg');
}
.icon-sort {
	mask: url('../../icons/ui/arrow-down-wide-short-solid.svg');
	-webkit-mask: url('../../icons/ui/arrow-down-wide-short-solid.svg');
}
.icon-comment {
	mask: url('../../icons/ui/comment-regular.svg');
	-webkit-mask: url('../../icons/ui/comment-regular.svg');
}
.icon-centre {
	mask: url('../../icons/ui/icon-arrows-centre.svg');
	-webkit-mask: url('../../icons/ui/icon-arrows-centre.svg');
}
.icon-karma {
	mask: url('../../icons/ui/icon-karma.svg');
	-webkit-mask: url('../../icons/ui/icon-karma.svg');
}
.icon-karma-slash {
	mask: url('../../icons/ui/icon-karma-slash.svg');
	-webkit-mask: url('../../icons/ui/icon-karma-slash.svg');
}
.icon-plus {
	mask: url('../../icons/ui/icon-plus.svg');
	-webkit-mask: url('../../icons/ui/icon-plus.svg');
}
.icon-plus-slash {
	mask: url('../../icons/ui/icon-plus-slash.svg');
	-webkit-mask: url('../../icons/ui/icon-plus-slash.svg');
}
.icon-ad {
	mask: url('../../icons/ui/icon-ad.svg');
	-webkit-mask: url('../../icons/ui/icon-ad.svg');
}
.icon-ad-slash {
	mask: url('../../icons/ui/icon-ad-slash.svg');
	-webkit-mask: url('../../icons/ui/icon-ad-slash.svg');
}
.icon-nsfw {
	mask: url('../../icons/ui/icon-nsfw.svg');
	-webkit-mask: url('../../icons/ui/icon-nsfw.svg');
}
.icon-nsfw-slash {
	mask: url('../../icons/ui/icon-nsfw-slash.svg');
	-webkit-mask: url('../../icons/ui/icon-nsfw-slash.svg');
}
.icon-popular {
	mask: url('../../icons/ui/icon-popular.svg');
	-webkit-mask: url('../../icons/ui/icon-popular.svg');
}
.icon-popular-slash {
	mask: url('../../icons/ui/icon-popular-slash.svg');
	-webkit-mask: url('../../icons/ui/icon-popular-slash.svg');
}
.icon-mod {
	mask: url('../../icons/ui/icon-mod.svg');
	-webkit-mask: url('../../icons/ui/icon-mod.svg');
}
.icon-mod-slash {
	mask: url('../../icons/ui/icon-mod-slash.svg');
	-webkit-mask: url('../../icons/ui/icon-mod-slash.svg');
}
.icon-chat {
	mask: url('../../icons/ui/icon-chat.svg');
	-webkit-mask: url('../../icons/ui/icon-chat.svg');
}
.icon-chat-slash {
	mask: url('../../icons/ui/icon-chat-slash.svg');
	-webkit-mask: url('../../icons/ui/icon-chat-slash.svg');
}
.icon-notification {
	mask: url('../../icons/ui/icon-notification.svg');
	-webkit-mask: url('../../icons/ui/icon-notification.svg');
}
.icon-notification-slash {
	mask: url('../../icons/ui/icon-notification-slash.svg');
	-webkit-mask: url('../../icons/ui/icon-notification-slash.svg');
}
.icon-advertise {
	mask: url('../../icons/ui/icon-advertise.svg');
	-webkit-mask: url('../../icons/ui/icon-advertise.svg');
}
.icon-advertise-slash {
	mask: url('../../icons/ui/icon-advertise-slash.svg');
	-webkit-mask: url('../../icons/ui/icon-advertise-slash.svg');
}
.icon-rising {
	mask: url('../../icons/ui/icon-rising.svg');
	-webkit-mask: url('../../icons/ui/icon-rising.svg');
}
.icon-rising-fill {
	mask: url('../../icons/ui/icon-rising-fill.svg');
	-webkit-mask: url('../../icons/ui/icon-rising-fill.svg');
}
.icon-sword {
	mask: url('../../icons/ui/icon-sword.svg');
	-webkit-mask: url('../../icons/ui/icon-sword.svg');
}
.icon-sword-fill {
	mask: url('../../icons/ui/icon-sword-fill.svg');
	-webkit-mask: url('../../icons/ui/icon-sword-fill.svg');
}
.icon-all {
	mask: url('../../icons/ui/icon-all.svg');
	-webkit-mask: url('../../icons/ui/icon-all.svg');
}
.icon-infinity {
	mask: url('../../icons/ui/icon-infinity.svg');
	-webkit-mask: url('../../icons/ui/icon-infinity.svg');
}
.icon-infinity-slash {
	mask: url('../../icons/ui/icon-infinity-slash.svg');
	-webkit-mask: url('../../icons/ui/icon-infinity-slash.svg');
}
.icon-tfl {
	mask: url('../../icons/ui/icon-tfl.svg');
	-webkit-mask: url('../../icons/ui/icon-tfl.svg');
}
.icon-bin {
	mask: url('../../icons/ui/trash-can-solid.svg');
	-webkit-mask: url('../../icons/ui/trash-can-solid.svg');
}
.icon-check {
	mask: url('../../icons/ui/check-solid.svg');
	-webkit-mask: url('../../icons/ui/check-solid.svg');
}
.icon-bell {
	mask: url('../../icons/ui/icon-bell-notification.svg');
	-webkit-mask: url('../../icons/ui/icon-bell-notification.svg');
}
.icon-bell-slash {
	mask: url('../../icons/ui/icon-bell-notification-slash.svg');
	-webkit-mask: url('../../icons/ui/icon-bell-notification-slash.svg');
}
.icon-comment-arrows {
	mask: url('../../icons/ui/icon-comment-arrows.svg');
	-webkit-mask: url('../../icons/ui/icon-comment-arrows.svg');
}
.icon-numbers {
	mask: url('../../icons/ui/icon-numbers.svg');
	-webkit-mask: url('../../icons/ui/icon-numbers.svg');
}
.icon-ruler {
	mask: url('../../icons/ui/ruler-vertical-solid.svg');
	-webkit-mask: url('../../icons/ui/ruler-vertical-solid.svg');
}
.icon-accessibility {
	mask: url('../../icons/ui/universal-access-solid.svg');
	-webkit-mask: url('../../icons/ui/universal-access-solid.svg');
}
.icon-book {
	mask: url('../../icons/ui/book-solid.svg');
	-webkit-mask: url('../../icons/ui/book-solid.svg');
}
.icon-book-open {
	mask: url('../../icons/ui/book-open-solid.svg');
	-webkit-mask: url('../../icons/ui/book-open-solid.svg');
}
.icon-list-check-solid {
	mask: url('../../icons/ui/list-check-solid.svg');
	-webkit-mask: url('../../icons/ui/list-check-solid.svg');
}
.icon-header {
	mask: url('../../icons/ui/icon-header.svg');
	-webkit-mask: url('../../icons/ui/icon-header.svg');
}
.icon-header-slash {
	mask: url('../../icons/ui/icon-header-slash.svg');
	-webkit-mask: url('../../icons/ui/icon-header-slash.svg');
}
.icon-sticky-note-slash {
	mask: url('../../icons/ui/icon-sticky-note-slash.svg');
	-webkit-mask: url('../../icons/ui/icon-sticky-note-slash.svg');
}
.icon-expand {
	mask: url('../../icons/ui/expand-solid.svg');
	-webkit-mask: url('../../icons/ui/expand-solid.svg');
}
.icon-arrow-up {
	mask: url('../../icons/ui/arrow-up-solid.svg');
	-webkit-mask: url('../../icons/ui/arrow-up-solid.svg');
}
.icon-arrow-down {
	mask: url('../../icons/ui/arrow-right-long-solid.svg');
	-webkit-mask: url('../../icons/ui/arrow-right-long-solid.svg');
	transform: rotate(90deg);
}
.icon-arrow-right {
	mask: url('../../icons/ui/arrow-right-long-solid.svg');
	-webkit-mask: url('../../icons/ui/arrow-right-long-solid.svg');
}
.icon-pause {
	mask: url('../../icons/ui/pause-solid.svg');
	-webkit-mask: url('../../icons/ui/pause-solid.svg');
}
.icon-filter {
	mask: url('../../icons/ui/filter-solid.svg');
	-webkit-mask: url('../../icons/ui/filter-solid.svg');
}
.icon-redirect {
	mask: url('../../icons/ui/share-solid.svg');
	-webkit-mask: url('../../icons/ui/share-solid.svg');
}
.icon-earth {
	mask: url('../../icons/ui/earth-europe-solid.svg');
	-webkit-mask: url('../../icons/ui/earth-europe-solid.svg');
}
.icon-remove-margins {
	mask: url('../../icons/ui/arrows-left-right-to-line-solid.svg');
	-webkit-mask: url('../../icons/ui/arrows-left-right-to-line-solid.svg');
}
.icon-font {
	mask: url('../../icons/ui/icon-font-size.svg');
	-webkit-mask: url('../../icons/ui/icon-font-size.svg');
}
.icon-expand-arrows {
	mask: url('../../icons/ui/up-right-and-down-left-from-center-solid.svg');
	-webkit-mask: url('../../icons/ui/up-right-and-down-left-from-center-solid.svg');
}
.icon-arrows-left-right {
	mask: url('../../icons/ui/arrows-left-right-solid.svg');
	-webkit-mask: url('../../icons/ui/arrows-left-right-solid.svg');
}
.icon-ruler-horizontal {
	mask: url('../../icons/ui/ruler-horizontal-solid.svg');
	-webkit-mask: url('../../icons/ui/ruler-horizontal-solid.svg');
}
.icon-download {
	mask: url('../../icons/ui/download-solid.svg');
	-webkit-mask: url('../../icons/ui/download-solid.svg');
}
.icon-account-switcher {
	mask: url('../../icons/ui/icon-account-switcher.svg');
	-webkit-mask: url('../../icons/ui/icon-account-switcher.svg');
}
.icon-handle {
	mask: url('../../icons/ui/grip-lines-solid.svg');
	-webkit-mask: url('../../icons/ui/grip-lines-solid.svg');
}
.icon-delete {
	mask: url('../../icons/ui/xmark-solid.svg');
	-webkit-mask: url('../../icons/ui/xmark-solid.svg');
}
.icon-drag {
	mask: url('../../icons/ui/icon-drag.svg');
	-webkit-mask: url('../../icons/ui/icon-drag.svg');
}
.icon-box-arrow {
	mask: url('../../icons/ui/share-from-square-solid.svg');
	-webkit-mask: url('../../icons/ui/share-from-square-solid.svg');
}
.icon-star {
	mask: url('../../icons/ui/star-solid.svg');
	-webkit-mask: url('../../icons/ui/star-solid.svg');
}
.icon-ellipsis {
	mask: url('../../icons/ui/ellipsis-solid.svg');
	-webkit-mask: url('../../icons/ui/ellipsis-solid.svg');
}
.icon-underline {
	mask: url('../../icons/ui/underline-solid.svg');
	-webkit-mask: url('../../icons/ui/underline-solid.svg');
}
.icon-hand {
	mask: url('../../icons/ui/icon-hand.svg');
	-webkit-mask: url('../../icons/ui/icon-hand.svg');
}
.icon-hand-slash {
	mask: url('../../icons/ui/icon-hand-slash.svg');
	-webkit-mask: url('../../icons/ui/icon-hand-slash.svg');
}
