/* Popup Styles - Main Menu */

/* Menu */
.menu {
	display: flex;
	flex-direction: column;
	width: 450px;
	height: 100%;
	-webkit-transition: all 300ms cubic-bezier(0, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0, 0, 0.58, 1);
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
	grid-gap: 0 !important;
}
.menu-list {
	list-style: none;
	padding: 0;
	grid-gap: 8px;
}
.sub-list {
	margin-top: -8px;
}
.menu-item-link[style*='none'] + .sub-list {
	margin-top: 0;
}
.sub-list,
.settings-sub-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	padding: 8px;
	grid-gap: 8px;
	background-color: var(--bg-tint-2);
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	margin-bottom: 8px;
}
.settings-sub-list {
	border-radius: var(--border-radius);
}
.sub-search-title {
	color: var(--text-grey);
}
.menu-item-link,
.menu-item-link > div,
.menu-item {
	position: relative;
	display: grid;
	align-items: center;
	width: 100%;
	height: fit-content;
	min-height: 60px;
	background-color: var(--bg-shade-1);
	font-size: 20px;
}
.menu-item-link {
	grid-template-columns: auto 50px;
	transition: background-color 0.1s ease-in-out;
	border-radius: var(--border-radius);
	/*box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;*/
	margin-bottom: 8px;
}
.menu-item-link > :first-child {
	grid-template-columns: 50px auto 50px;
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.menu-item {
	grid-template-columns: 50px auto 70px;
	border-radius: var(--border-radius);
}
.menu-item-link:hover {
	background-color: var(--bg-tint-1);
	cursor: pointer;
}
.menu-item-link.active {
	background-color: var(--bg-tint-1);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.menu-item-link > div:hover .icon-cheveron-down {
	margin-top: 5px;
}
.menu-item .menu-item-icon,
.menu-item-link .menu-item-icon {
	color: var(--bg-tint-2);
	text-align: center;
}
.menu-item-link[style*='none'] + .menu-list {
	padding-top: 8px;
	border-radius: var(--border-radius);
}
.icon-cheveron-down {
	text-align: center;
	color: var(--bg-tint-4);
	-webkit-transition: all 100ms cubic-bezier(0, 0, 0.58, 1);
	transition: all 100ms cubic-bezier(0, 0, 0.58, 1);
}
.active .icon-cheveron-down {
	transform: scale(-1);
}
.active.menu-item-link:hover .icon-cheveron-down {
	margin-top: -5px !important;
}
.menu-item-handle {
	display: flex;
	align-items: center;
	justify-self: center;
	width: 100%;
	height: 100%;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	transition: background-color 100ms ease-in-out;
}
.menu-item-handle:hover {
	cursor: ns-resize;
}

/* Sub Header */
.sub-header {
	width: 100%;
	height: 16px;
	display: flex;
	align-items: center;
}
.sub-header span {
	margin-left: 10px;
	color: var(--text-grey);
	font-size: 14px;
}
.sub-header-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Background Buttons */
.btn-edit-backgrounds,
.btn-edit-backgrounds-save {
	position: absolute;
	right: 10px;
	width: 22px;
	height: 22px;
	border: solid 1px transparent;
	background-color: var(--text-grey);
	text-align: center;
}
.btn-edit-backgrounds-save {
	background-color: var(--accent);
	display: none;
}
.btn-edit-backgrounds:hover,
.btn-edit-backgrounds-save:hover {
	cursor: pointer;
}
.btn-add-custom-background {
	margin: 2px;
	background-color: rgba(var(--accent-rgb), 0.6);
}
.btn-add-custom-background:hover {
	background-color: rgba(var(--accent-rgb), 1);
}

/* Background  */
.p-grid-bg {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 5px;
	margin-top: 20px;
	padding: 5px;
}
.custom-input-container {
	width: 100%;
	height: 35px;
	display: grid;
	grid-template-columns: auto 35px;
	grid-gap: 5px;
}
.background {
	position: relative;
	border: solid 1px transparent;
	height: 100px;
	width: 100px;
	border-radius: var(--border-radius);
	overflow: hidden;
	background-size: 80px auto;
	background-repeat: no-repeat;
	background-position: center;
}
.background:hover {
	cursor: pointer;
	border-color: var(--accent) !important;
}
.background-edit:hover .btn-delete-background {
	display: flex;
}
.background-edit:hover .background-img {
	display: none;
}
.background-img {
	height: inherit;
	width: inherit;
	background-size: inherit;
	background-repeat: inherit;
	background-position: inherit;
}
.btn-delete-background {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: calc(var(--border-radius) - 2px);
	align-items: center;
	justify-content: center;
	color: var(--text);
	background-color: var(--red);
	opacity: 0.6;
}
.btn-delete-background:hover {
	cursor: pointer;
}
#input-custom-background {
	height: 36px;
}

.divider {
	background-color: var(--text-grey);
	width: 90%;
	height: 1px;
	opacity: 0.2;
	margin-top: 4px;
	margin-bottom: 8px;
}
div.container[style*='none'] + .divider {
	display: none;
}
#input-theme-exceptions {
	position: relative;
	width: 100%;
}

/* Show/Hide  */
.hidden {
	display: none !important;
}
.grid {
	display: grid;
}

/* Account Switcher */
.container-add-accounts {
	display: flex;
	flex-direction: column;
	grid-gap: 8px;
}
.container-add-accounts input {
	height: 40px;
	width: 100%;
}
.info {
	text-align: center;
}
.info-blue,
.warning {
	width: 100%;
	border-radius: 8px;
	padding: 8px;
	text-align: center;
}
.info-blue {
	background: rgba(120, 190, 200, 0.3);
	border: solid 1px rgba(120, 190, 200, 0.6);
}
.info-warning {
	background: rgba(255, 0, 0, 0.3);
	border: solid 1px rgba(255, 0, 0, 0.6);
}

/* Item List */
.list-group {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	grid-gap: 8px;
}
.list-group-item {
	position: relative;
	width: 100%;
	height: 40px;
	display: grid;
	grid-template-columns: auto 30px 30px;
	align-items: center;
	border-radius: 8px;
	border: solid 1px red;
	background-color: var(--bg-tint-1);
	overflow: hidden;
}
.list-group-item span {
	padding: 4px;
}
.list-group-item div {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
}
.list-group-item .icon {
	background-color: var(--text-grey);
}
.list-group-item .account-handle:hover {
	cursor: ns-resize;
	background-color: var(--bg-tint-2);
	transition: background-color 100ms ease-in-out;
}
.list-group-item .account-delete:hover {
	cursor: pointer;
	background-color: rgba(255, 0, 0, 0.6);
	transition: background-color 100ms ease-in-out;
}
.sortable-drag {
	opacity: 0;
}
