/* Popup Styles - Themes */

body {
	--red: #f44336;
	/*--light-blue: #03a9f4;*/
}

.theme-dark {
	--border-radius: 8px;
	--accent: #ff4703;
	--text: #fcfcfc;
	--text-grey: #808080;
	--header-fg: #fcfcfc;
	--footer-fg: #fcfcfc;
	--extension-title: #000;
	--shadow: rgba(0, 0, 0, 0.5);
	--top-menu-chevron: var(--extension-title);
	--shade: var(--extension-title);

	--bg: #282828;
	--bg-shade-1: #101010;
	--bg-tint-1: #19191a;
	--bg-tint-2: #242424;
	--bg-tint-3: #141414;
	--bg-tint-4: #4c4c4c;

	--btn-fg: var(--text);
	--btn-secondary-fg: #4d4d4d;
	--btn-bg: var(--bg-tint-1);
	--btn-border: color-mix(in srgb, var(--btn-bg), #fff 10%);
	--btn-hover: color-mix(in srgb, #19191a 80%, #000000);
	--btn-hover-border: color-mix(in srgb, var(--btn-bg), #fff 10%);
	--btn-active: color-mix(in srgb, #19191a 60%, #000000);

	--menu-item: var(--bg-shade-1);
	--menu-item-hover: var(--bg-tint-3);
	--menu-item-active: var(--bg-tint-1);
	--item-bg: var(--bg-shade-1);
}

.theme-light {
	--border-radius: 8px;
	--accent: #ff7650;
	--text: #030303;
	--text-grey: #626261;
	--header-fg: #030303;
	--footer-fg: #030303;
	--extension-title: #626261;
	--shadow: rgba(255, 255, 255, 0.5);
	--top-menu-chevron: var(--extension-title);
	--shade: var(--extension-title);

	--bg: #f0f0f0;
	--bg-shade-1: #d4d4d4;
	--bg-tint-1: #e7e7e7;
	--bg-tint-2: #e7e7e7;
	--bg-tint-3: #ebebeb;
	--bg-tint-4: #b3b3b3;

	--btn-fg: var(--text);
	--btn-secondary-fg: #999;
	--btn-bg: var(--bg-tint-1);
	--btn-border: color-mix(in srgb, var(--btn-bg), #000 5%);
	--btn-hover: color-mix(in srgb, var(--btn-bg), #000 5%);
	--btn-hover-border: color-mix(in srgb, var(--btn-bg), #666666 15%);
	--btn-active: color-mix(in srgb, var(--btn-bg), #000 10%);

	--menu-item: var(--bg-shade-1);
	--menu-item-hover: color-mix(in srgb, var(--menu-item), #000 5%);
	--menu-item-active: color-mix(in srgb, var(--menu-item), #000 10%);
	--item-bg: var(--bg-shade-1);
}

.theme-classic-light {
	--border-radius: 8px;
	--accent: #ff7650;
	--bg-shade-1: #efefef;
	--text: #030303;
	--text-grey: #8e8e8e;
	--header-fg: #030303;
	--footer-fg: #030303;
	--extension-title: #8e8e8e;
	--shadow: rgba(255, 255, 255, 0.5);
	--top-menu-chevron: var(--extension-title);
	--shade: var(--extension-title);

	--bg: #ebebeb;
	--bg-tint-1: #e6e6e5;
	--bg-tint-2: #dbdbdb;
	--bg-tint-3: #d1d1d1;
	--bg-tint-4: #b3b3b3;

	--btn-fg: var(--text);
	--btn-secondary-fg: #b6b6b6;
	--btn-bg: var(--bg-tint-1);
	--btn-border: color-mix(in srgb, var(--btn-bg), #000 5%);
	--btn-hover: color-mix(in srgb, var(--menu-item), #000 5%);
	--btn-hover-border: color-mix(in srgb, var(--btn-bg), #000 15%);
	--btn-active: color-mix(in srgb, var(--btn-bg), #000 10%);

	--menu-item: var(--bg-shade-1);
	--menu-item-hover: color-mix(in srgb, var(--menu-item), #000 5%);
	--menu-item-active: color-mix(in srgb, var(--menu-item), #000 10%);
	--item-bg: var(--bg-shade-1);
}

.theme-grey {
	--border-radius: 8px;
	--accent: #ff4703;
	--text: #fff;
	--text-grey: #dbdbdb;
	--header-fg: #030303;
	--footer-fg: #030303;
	--extension-title: #030303;
	--shadow: rgba(0, 0, 0, 0.5);
	--top-menu-chevron: var(--extension-title);
	--shade: var(--extension-title);

	--bg: #f0f0f0;
	--bg-shade-1: color-mix(in srgb, var(--bg) 34.78%, #000000);
	--bg-tint-1: color-mix(in srgb, var(--bg), #040406);
	--bg-tint-2: color-mix(in srgb, var(--bg), #1a1a1a);
	--bg-tint-3: color-mix(in srgb, var(--bg) 43.48%, #000000);
	--bg-tint-4: color-mix(in srgb, var(--bg), #6a6a6a);

	--btn-fg: var(--text);
	--btn-secondary-fg: #999;
	--btn-bg: var(--bg-tint-1);
	--btn-border: color-mix(in srgb, var(--btn-bg), #fff 10%);
	--btn-hover: color-mix(in srgb, var(--btn-bg), #fff 15%);
	--btn-hover-border: color-mix(in srgb, var(--btn-bg), #666666 15%);
	--btn-active: color-mix(in srgb, var(--btn-bg), #fff 25%);

	--menu-item: var(--bg-shade-1);
	--menu-item-hover: color-mix(in srgb, var(--menu-item), #fff 15%);
	--menu-item-active: color-mix(in srgb, var(--menu-item), #fff 25%);
	--item-bg: var(--bg-shade-1);
}
