<div id='settings'>
	<h3 data-lang='ExtensionSettings'></h3>
	<ul class='settings-sub-list'>
		<li class='sub-header' style='margin-top: 24px'>
			<span data-lang='ResetAllSettings'></span>
		</li>
		<li class='container' style='align-items: start'>
			<div class='settings-reset'>
				<div id='btn-reset-settings' class='btn red'><span class='btn-text' data-lang='ResetAllSettings'></span></div>
				<div id='btn-reset-settings-confirm' class='btn red hidden'><span class='btn-text' data-lang='Confirm'></span></div>
				<span id='reset-settings-cleared-message' class='hidden' style='margin-left: 8px' data-lang='Cleared'></span>
				<span id='reset-settings-error-message' class='hidden' style='margin-left: 8px' data-lang='Error'></span>
			</div>
		</li>
		<li class='sub-header'>
			<span data-lang='Language'></span>
		</li>
		<li class='container' style='align-items: start'>
			<div class='settings-language'>
				<div id='select-lang' class='dropdown'>
					<div class='select'>
						<div class='icon icon-earth'></div>
						<span id='chosen-lang'>Language</span>
						<div class='icon dropdown-icon icon-chevron-down'></div>
					</div>
					<input type='hidden' name='version' />
					<ul id='select-lang-menu' class='dropdown-menu'>
						<li id='en'>
							<div class='flag flag-gb'></div>
							<span>English (UK)</span>
						</li>
						<li id='en-US'>
							<div class='flag flag-us'></div>
							<span>English (US)</span>
						</li>
						<li id='cs'>
							<div class='flag flag-cz'></div>
							<span>Čeština</span>
						</li>
						<li id='de'>
							<div class='flag flag-de'></div>
							<span>Deutsch</span>
						</li>
						<li id='es'>
							<div class='flag flag-es'></div>
							<span>Español</span>
						</li>
						<li id='fr'>
							<div class='flag flag-fr'></div>
							<span>Français</span>
						</li>
						<li id='hu'>
							<div class='flag flag-hu'></div>
							<span>Magyar</span>
						</li>
						<li id='it'>
							<div class='flag flag-it'></div>
							<span>Italia</span>
						</li>
						<li id='pl'>
							<div class='flag flag-pl'></div>
							<span>Polski</span>
						</li>
						<li id='pt'>
							<div class='flag flag-pt'></div>
							<span>Português</span>
						</li>
						<li id='nl'>
							<div class='flag flag-nl'></div>
							<span>Nederlands</span>
						</li>
						<li id='no'>
							<div class='flag flag-no'></div>
							<span>Norsk</span>
						</li>
						<li id='fi'>
							<div class='flag flag-fi'></div>
							<span>Suomalainen</span>
						</li>
						<li id='sv'>
							<div class='flag flag-se'></div>
							<span>Svenska</span>
						</li>
						<li id='uk'>
							<div class='flag flag-ua'></div>
							<span>українська</span>
						</li>
					</ul>
				</div>
				<a href='https://github.com/joelacus/RedditEnhancer/tree/main/src-webpack/src/common/_locales' target='_blank'><span data-lang='TranslationHelp'></span></a>
			</div>
		</li>
		<li class='sub-header'>
			<span data-lang='Theme'></span>
		</li>
		<li class='container' style='align-items: start'>
			<div class='settings-theme'>
				<div id='btn-extension-theme-auto' class='btn'><span class='btn-text' data-lang='Auto'></span></div>
				<div id='btn-extension-theme-dark' class='btn'><span class='btn-text' data-lang='Dark'></span></div>
				<div id='btn-extension-theme-light' class='btn'><span class='btn-text' data-lang='Light'></span></div>
				<div id='btn-extension-theme-classic-light' class='btn'><span class='btn-text' data-lang='ClassicLight'></span></div>
				<div id='btn-extension-theme-grey' class='btn'><span class='btn-text' data-lang='Grey'></span></div>
			</div>
		</li>
		<li class='sub-header' style='margin-top: 24px'>
			<span data-lang='BackupRestoreConfig'></span>
		</li>
		<li class='container' style='align-items: start'>
			<div class='settings-backup'>
				<div id='btn-export-backup' class='btn'><span class='btn-text' data-lang='Backup'></span></div>
				<div id='btn-import-backup' class='btn'><span class='btn-text' data-lang='Restore'></span></div>
			</div>
		</li>
		<li class='sub-header' style='margin-top: 24px'>
			<span data-lang='BackgroundUploadResolution'></span>
		</li>
		<li class='container' style='align-items: start'>
			<div class='settings-resolution'>
				<div id='select-background-resolution' class='dropdown'>
					<div class='select'>
						<div class='icon icon-images'></div>
						<span id='chosen-background-resolution'>1080p</span>
						<div class='icon dropdown-icon icon-chevron-down'></div>
					</div>
					<input type='hidden' name='backgroundResolution' />
					<ul id='select-background-resolution-menu' class='dropdown-menu'>
						<li id='resolution-original'><span>100%</span></li>
						<li id='resolution-4k'><span>4K</span></li>
						<li id='resolution-1440p'><span>1440p</span></li>
						<li id='resolution-1080p'><span>1080p</span></li>
					</ul>
				</div>
				<span class='info' data-lang='BackgroundUploadInfo2'></span>
			</div>
		</li>
		<li class='sub-header' style='margin-top: 24px'>
			<span data-lang='StorageUsage'></span>
		</li>
		<li class='container' style='align-items: start'>
			<div class='settings-storage'>
				<div id='storage-usage'>
					<div class='storage-item' style='margin-bottom: 8px'>
						<span data-lang='LocalStorage'></span>
						<div class='progress-bar'>
							<div id='local-storage-progress' class='progress-fill'></div>
						</div>
						<span id='local-storage-text'>0 / 10 MiB</span>
					</div>
					<div class='storage-item'>
						<span data-lang='SyncStorage'></span>
						<div class='progress-bar'>
							<div id='sync-storage-progress' class='progress-fill'></div>
						</div>
						<span id='sync-storage-text'>0 / 100 KB</span>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>