/* ========== CHANGE FONT SIZE AND FONT WEIGHT ========== */
/* Post title in detailed post view */
/* Old UI */
.comments-page .thing p.title > a,
.other-discussions-page .thing p.title > a {
	font-size: var(--re-post-title-font-size, 16px);
	font-weight: var(--re-post-title-font-weight, normal);
	line-height: 1.4;
}
/* New New UI */
[routename='post_page'] shreddit-post a[slot='title'],
[routename='post_page'] shreddit-post h1[slot='title'],
[routename='post_page'] div.crosspost-title a,
[routename='comments_page'] shreddit-post h1[slot='title'],
[routename='comments_page'] div.crosspost-title a,
[routename='profile_post_page'] shreddit-post h1[slot='title'],
[routename='profile_post_page'] div.crosspost-title a,
[routename='profile_post_page_comments'] shreddit-post h1[slot='title'],
[routename='profile_post_page_comments'] div.crosspost-title a,
mod-queue-app shreddit-post h1[slot='title'] > a {
	font-size: var(--re-post-title-font-size, 1.5rem);
	font-weight: var(--re-post-title-font-weight, 600);
	line-height: 1.4;
}
shreddit-post h1[slot='title'] {
	margin: 0.35rem 0 0.5rem;
}

/* Post text content in detailed post view */
/* Old UI */
.comments-page .thing[data-type="link"] .usertext div.md,
/* New New UI */
shreddit-post div[slot="text-body"] div.md,
shreddit-post a[slot="text-body"] div:has(>p),
shreddit-profile-comment [id*="-content"],
/* x-posts and link posts */
div[slot="post-media-container"] div.md,
[routename="post_page"] shreddit-post .re-media-link,
/* wiki pilot */
.wiki-content.wiki-pilot-communities .md,
.wiki-content.wiki-pilot-communities .md p {
	font-size: var(--re-post-content-font-size, 14px);
	font-weight: var(--re-post-content-font-weight);
	line-height: 1.5;
}
/* h1 in text content */
shreddit-post div[slot='text-body'] div.md h1 {
	font-size: 1.5em;
	line-height: inherit;
}
.Post [data-click-id='text'] p {
	overflow: hidden;
}

/* Comment text content */
/* Old UI */
.commentarea .thing[data-type="comment"] .usertext p,
/* New New UI */
shreddit-comment div.md[slot="comment"],
shreddit-profile-comment div.md,
shreddit-composer div[contenteditable],
shreddit-composer::part(md-inner) {
	font-size: var(--re-post-comments-font-size, 14px);
	font-weight: var(--re-post-comments-font-weight);
	line-height: 1.5;
}
/* h1 in comments */
/* New New UI */
shreddit-comment div.md[slot='comment'] h1,
shreddit-profile-comment div.md h1,
shreddit-composer div[contenteditable] h1 {
	font-size: 1.5em;
	line-height: inherit;
}
div[data-test-id='comment-submission-form-richtext'] div.public-DraftEditor-content[contenteditable] h1 > div {
	font-size: inherit;
	line-height: inherit;
}
.Comment [data-testid='comment'] > div,
.Comment [data-testid='comment'] > div code,
div[data-test-id='comment-submission-form-richtext'] div.public-DraftEditor-content[contenteditable],
div[data-test-id='comment-submission-form-markdown'] textarea {
	overflow: hidden;
}

/* Post title in feed view */
/* Old UI */
.listing-page .thing p.title > a,
/* New New UI */
shreddit-feed shreddit-post a[slot='title'],
shreddit-feed shreddit-post h1[slot='title'],
shreddit-feed div.crosspost-title a,
shreddit-feed div[slot="post-media-container"] .text-18,
search-telemetry-tracker a[data-testid='post-title-text'],
faceplate-tracker[data-testid='search-post'] a[data-testid='post-title-text'],
faceplate-tracker h2.i18n-search-comment-post-title,
mod-queue-app shreddit-post a[slot='title'] {
	font-size: var(--re-feed-post-title-font-size, 18px);
	font-weight: var(--re-feed-post-title-font-weight, 600);
	line-height: 1.4;
}
shreddit-feed shreddit-post[view-type='compactView'] a[slot='title'] {
	font-size: var(--re-feed-post-title-font-size, 1rem);
}
shreddit-feed shreddit-profile-comment h2 a img {
	min-width: 24px;
}

/* Post text content in feed view */
/* Old UI */
.listing-page .thing[data-type="link"] .usertext div.md,
/* New New UI */
shreddit-feed shreddit-post [data-post-click-location="text-body"] p,
shreddit-feed shreddit-profile-comment [id*="-content"],
shreddit-feed div[slot="post-media-container"] div.md,
div.md.feed-card-text-preview,
mod-queue-app shreddit-post [data-post-click-location="text-body"] div.md,
shreddit-feed shreddit-post .re-media-link,
shreddit-feed shreddit-post .post-link {
	font-size: var(--re-feed-post-content-font-size, 14px);
	font-weight: var(--re-feed-post-content-font-weight);
	line-height: 1.5;
}
/* h1 in text content */
shreddit-feed shreddit-post [data-post-click-location='text-body'] h1 {
	font-size: 1.5em;
	line-height: inherit;
}

/* Create Post title */
/* Old UI */
#title-field textarea {
	font-size: var(--re-create-post-title-font-size, 18px);
}
/* New New UI */
shreddit-app[pagetype='post_submit'] faceplate-textarea-input::part(title) {
	font-size: var(--re-create-post-title-font-size, 16px) !important;
	line-height: 1.2 !important;
}

/* Create Post text body */
/* Old UI */
#text-field textarea {
	font-size: var(--re-create-post-body-font-size, 14px);
}
/* New New UI */
shreddit-app[pagetype='post_submit'] shreddit-composer p > span {
	font-size: var(--re-create-post-body-font-size, 14px) !important;
	line-height: 1.5 !important;
}

/* Compact blockquote */
div.md blockquote {
	margin: 0 0 1rem 0.125rem;
	padding: 0 0 0 1rem;
}
div.md blockquote:last-of-type {
	margin-bottom: 0;
}
